



:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #868e96;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
/*---------------- navbar start ----------------*/
li {
    list-style: none;
}

a {
    text-decoration: none;
}


.header{
  background-image: linear-gradient( 83.2deg,  #A833FE 10.8%, #8D3EFC 94.3% );
}
.container{
  max-width: 1180px;
  margin: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav-logo img{
  width: 200px;
  opacity: 90%;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}


.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 40px;
}

.nav-link{
  font-size: 16px;
  font-weight: 600;
  color: #f1ebeb;
  transition: all 0.5s ease;
}

.nav-link:hover{
  color: black;
}



@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
/*---------------- navbar end ----------------*/



/*---------------- header section start ------*/
.header-container{
  background-image: linear-gradient( 83.2deg,  #A833FE 10.8%, #8D3EFC 94.3% );
}
.container-item{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container-item h1{
  font-size: 60px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #f1ebeb;
  margin-top: 35%;
}
.container-item p{
  font-size: 15px;
  margin-top: 20px;
  color: #ddd5d5;
  margin-bottom: 50px;
  
}
.explore-now-btn{
  font-size: 14px;
  color: rgb(19, 18, 18);
  background-color: white;
  padding: 18px 50px;
  font-weight: bold;
  border-radius: 5px;
}
.explore-now-btn:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.header-container-image img{
  margin-top: 90px;
  height: 600px;
  margin-left: 50%;
}



/*---------------- header section end ------*/
